/* Global */
.masthead {
  /* height: 100vh; */
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

a:hover {
  text-decoration: none;
}

button:hover, button:focus {
  outline: none;
  border: none;
  text-decoration: none;
}


/* Nav content */
.nav-wrapper {
position: fixed;
width: 100%;
height: 35px;
backdrop-filter: blur(5px);
background-color: rgba(0, 0, 0, 0.7);
}
.nav-wrapper h1 a, a:visited {
color: white;
}
.nav-home-button {
float: left;
margin: 4px 0px 0px 10px;
font-family: 'Exo 2', sans-serif;
font-weight: 500;
font-size: 20px;
}

.download {
background: none;
border: none;
border-radius: 5px 5px 5px 5px;
float: right;
padding: 0;
margin: 4px 10px 0px 0px;
}
.download img {
width: 80px;
height: auto;
}

/* Header content */

/* Carousel */
.header-content {
  width: 100%;
  margin: auto;
}
.sub-title-header {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-align: center;
}
.logo-map {
  margin: 0px 0px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}


.title-header {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: white;
  text-align: center;
}
.paragraph-header {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: center;
}
.video-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
}

/* Page content */
.page-content-1 {
  width: 100%;
  background: #DA22FF;
  background: -webkit-linear-gradient(to top, #DA22FF, #9733EE);
  background: linear-gradient(to top, #DA22FF, #9733EE);
}
/* .sub-title-page-content-1 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-align: left;
} */
.title-page-content-1 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: white;
  text-align: left;
}
.title-page-content-1-bis {
  margin-top: -10px;
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: white;
  text-align: left;
}
.paragraph-page-content-1 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: left;
}
.video-page-content-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 20px 20px 20px 20px;
}


.page-content-2 {
  width: 100%;
  /* background: #e1eec3;
  background: -webkit-linear-gradient(to top, #e1eec3, #f05053);
  background: linear-gradient(to top, #e1eec3, #f05053);  */
  /* background: #ED213A;
  background: -webkit-linear-gradient(to top, #ED213A, #93291E);
  background: linear-gradient(to top, #ED213A, #93291E); */
  background: #e53935;
  background: -webkit-linear-gradient(to top, #e35d5b, #e53935);
  background: linear-gradient(to top, #e35d5b, #e53935);
}
.title-page-content-2 {
  margin-top: -10px;
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: white;
  text-align: left;
}
.paragraph-page-content-2 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: left;
}
.video-page-content-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
}



.page-content-3 {
  width: 100%;
  /* background: #f46b45;
  background: -webkit-linear-gradient(to top, #eea849, #f46b45);
  background: linear-gradient(to top, #eea849, #f46b45); */
  background: #56ab2f;
  background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);
  background: linear-gradient(to top, #a8e063, #56ab2f);
}
.title-page-content-3 {
  margin-top: -10px;
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: white;
  text-align: left;
}
.paragraph-page-content-3 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: left;
}
.video-page-content-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
}



.page-content-4 {
  width: 100%;
  /* background: #56ab2f;
  background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);
  background: linear-gradient(to top, #a8e063, #56ab2f); */
  background: #f46b45;
  background: -webkit-linear-gradient(to top, #eea849, #f46b45);
  background: linear-gradient(to top, #eea849, #f46b45);
}
.title-page-content-4 {
  margin-top: -10px;
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: white;
  text-align: left;
}
.paragraph-page-content-4 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: left;
}
.video-page-content-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
}


/* Footer */
.grid-container {
  padding: 20px 0px 20px 0px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 20px 0px 0px;
  margin-top: -20px;
  position: relative;
  width: 100%;
  height: 140px;
  bottom: 0;
  display: grid;
  row-gap: 0px;
  grid-template-columns: auto;
}
.grid-item {
  text-align: left;
  padding-left: 10px;
  height: 25px;
}
.nav-btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 15px;
}


/* FOR SMARTPHONES PORTRAIT DISPLAY */
@media (min-width: 750px) and (min-height: 1000px) {
  .video-header {
    width: 370px;
  }

/* Page content */
.title-page-content-1 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.title-page-content-1-bis {
  width: 50%;
}
.paragraph-page-content-1 {
  width: 50%;
}
.video-page-content-1 {
  float: right;
  margin: -250px 10px 0px 0px;
}


.title-page-content-2 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.paragraph-page-content-2 {
  width: 50%;
}
.video-page-content-2 {
  float: right;
  margin: -315px 10px 0px 0px;
}



.title-page-content-3 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.paragraph-page-content-3 {
  width: 50%;
}
.video-page-content-3 {
  float: right;
  margin: -395px 10px 0px 0px;
}



.title-page-content-4 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.paragraph-page-content-4 {
  width: 50%;
}
.video-page-content-4 {
  float: right;
  margin: -420px 10px 0px 0px;
}



/* Footer */
.grid-container {
  padding: 7px 0px 0px 0px;
  position: fixed;
  height: 35px;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  text-align: center;
}
}

@media (min-width: 1000px) and (min-height: 1200px) {
.masthead {
  height: 100vh;
}
  /* Page content */
.video-page-content-1 {
  float: right;
  margin: -210px 10px 0px 0px;
}
.video-page-content-2 {
  float: right;
  margin: -292px 10px 0px 0px;
}
.video-page-content-3 {
  float: right;
  margin: -330px 10px 0px 0px;
}
.video-page-content-4 {
  float: right;
  margin: -350px 10px 0px 0px;
}
}

/* FOR SMARTPHONES LANDSCAPE DISPLAY */


@media screen and (min-width: 1000px) and (orientation: landscape) {
.video-header {
  width: 300px;
}

/* Page content */
.title-page-content-1 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.title-page-content-1-bis {
  width: 50%;
}
.paragraph-page-content-1 {
  width: 50%;
}
.video-page-content-1 {
  float: right;
  margin: -220px 10px 0px 0px;
}


.title-page-content-2 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.paragraph-page-content-2 {
  width: 50%;
}
.video-page-content-2 {
  float: right;
  margin: -295px 10px 0px 0px;
}



.title-page-content-3 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.paragraph-page-content-3 {
  width: 50%;
}
.video-page-content-3 {
  float: right;
  margin: -330px 10px 0px 0px;
}



.title-page-content-4 {
  width: 50%;
  padding: 0px 10px 0px 10px;
}
.paragraph-page-content-4 {
  width: 50%;
}
.video-page-content-4 {
  float: right;
  margin: -360px 10px 0px 0px;
}



/* Footer */
.grid-container {
  padding: 7px 0px 0px 0px;
  position: fixed;
  height: 35px;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  text-align: center;
}
}

@media screen and (min-width: 1300px) and (orientation: landscape) {
/* Nav content */
.nav-home-button {
  margin: 4px 0px 0px 100px;
}
.download {
  margin: 4px 100px 0px 0px;
}
  
  
/* Page content */
.title-page-content-1 {
  padding: 0px 10px 0px 100px;
}
.title-page-content-1-bis {
  padding: 0px 10px 0px 100px;
}
.paragraph-page-content-1 {
  padding: 0px 10px 0px 100px;
}
.video-page-content-1 {
  float: right;
  margin: -210px 100px 0px 0px;
}

.title-page-content-2 {
  padding: 0px 10px 0px 100px;
}
.paragraph-page-content-2 {
  padding: 0px 10px 0px 100px;
}
.video-page-content-2 {
  float: right;
  margin: -292px 100px 0px 0px;
}

.title-page-content-3 {
  padding: 0px 10px 0px 100px;
}
.paragraph-page-content-3 {
  padding: 0px 10px 0px 100px;
}
.video-page-content-3 {
  float: right;
  margin: -330px 100px 0px 0px;
}

.title-page-content-4 {
  padding: 0px 10px 0px 100px;
}
.paragraph-page-content-4 {
  padding: 0px 10px 0px 100px;
}
.video-page-content-4 {
  float: right;
  margin: -350px 100px 0px 0px;
}
}


/* For DESKTOP LANDSCAPE */

@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* Nav content */
.nav-home-button {
  margin: 4px 0px 0px 200px;
}
.download {
  margin: 4px 200px 0px 0px;
}
  
  
/* Page content */
.title-page-content-1 {
  padding: 0px 10px 0px 200px;
}
.title-page-content-1-bis {
  padding: 0px 10px 0px 200px;
}
.paragraph-page-content-1 {
  padding: 0px 10px 0px 200px;
}
.video-page-content-1 {
  float: right;
  margin: -210px 200px 0px 0px;
}

.title-page-content-2 {
  padding: 0px 10px 0px 200px;
}
.paragraph-page-content-2 {
  padding: 0px 10px 0px 200px;
}
.video-page-content-2 {
  float: right;
  margin: -270px 200px 0px 0px;
}

.title-page-content-3 {
  padding: 0px 10px 0px 200px;
}
.paragraph-page-content-3 {
  padding: 0px 10px 0px 200px;
}
.video-page-content-3 {
  float: right;
  margin: -290px 200px 0px 0px;
}

.title-page-content-4 {
  padding: 0px 10px 0px 200px;
}
.paragraph-page-content-4 {
  padding: 0px 10px 0px 200px;
}
.video-page-content-4 {
  float: right;
  margin: -350px 200px 0px 0px;
}
  
}


@media screen and (min-width: 1800px) and (orientation: landscape) {
/* Nav content */
.nav-home-button {
  margin: 4px 0px 0px 300px;
}
.download {
  margin: 4px 300px 0px 0px;
}

/* Page content */
.title-page-content-1 {
  padding: 0px 10px 0px 300px;
}
.title-page-content-1-bis {
  padding: 0px 10px 0px 300px;
}
.paragraph-page-content-1 {
  padding: 0px 10px 0px 300px;
}
.video-page-content-1 {
  float: right;
  margin: -210px 300px 0px 0px;
}

.title-page-content-2 {
  padding: 0px 10px 0px 300px;
}
.paragraph-page-content-2 {
  padding: 0px 10px 0px 300px;
}
.video-page-content-2 {
  float: right;
  margin: -270px 300px 0px 0px;
}

.title-page-content-3 {
  padding: 0px 10px 0px 300px;
}
.paragraph-page-content-3 {
  padding: 0px 10px 0px 300px;
}
.video-page-content-3 {
  float: right;
  margin: -290px 300px 0px 0px;
}

.title-page-content-4 {
  padding: 0px 10px 0px 300px;
}
.paragraph-page-content-4 {
  padding: 0px 10px 0px 300px;
}
.video-page-content-4 {
  float: right;
  margin: -350px 300px 0px 0px;
}
}




@media screen and (min-width: 2100px) and (orientation: landscape) {
  /* Nav content */
.nav-home-button {
  margin: 4px 0px 0px 400px;
}
.download {
  margin: 4px 400px 0px 0px;
}

/* Page content */
.title-page-content-1 {
  padding: 0px 10px 0px 400px;
}
.title-page-content-1-bis {
  padding: 0px 10px 0px 400px;
}
.paragraph-page-content-1 {
  padding: 0px 10px 0px 400px;
}
.video-page-content-1 {
  float: right;
  margin: -210px 400px 0px 0px;
}

.title-page-content-2 {
  padding: 0px 10px 0px 400px;
}
.paragraph-page-content-2 {
  padding: 0px 10px 0px 400px;
}
.video-page-content-2 {
  float: right;
  margin: -270px 400px 0px 0px;
}

.title-page-content-3 {
  padding: 0px 10px 0px 400px;
}
.paragraph-page-content-3 {
  padding: 0px 10px 0px 400px;
}
.video-page-content-3 {
  float: right;
  margin: -290px 400px 0px 0px;
}

.title-page-content-4 {
  padding: 0px 10px 0px 400px;
}
.paragraph-page-content-4 {
  padding: 0px 10px 0px 400px;
}
.video-page-content-4 {
  float: right;
  margin: -350px 400px 0px 0px;
}
}



@media screen and (min-width: 2400px) and (orientation: landscape) {
    /* Nav content */
.nav-home-button {
  margin: 4px 0px 0px 500px;
}
.download {
  margin: 4px 500px 0px 0px;
}

/* Page content */
.title-page-content-1 {
  padding: 0px 10px 0px 500px;
}
.title-page-content-1-bis {
  padding: 0px 10px 0px 500px;
}
.paragraph-page-content-1 {
  padding: 0px 10px 0px 500px;
}
.video-page-content-1 {
  float: right;
  margin: -210px 500px 0px 0px;
}

.title-page-content-2 {
  padding: 0px 10px 0px 500px;
}
.paragraph-page-content-2 {
  padding: 0px 10px 0px 500px;
}
.video-page-content-2 {
  float: right;
  margin: -270px 500px 0px 0px;
}

.title-page-content-3 {
  padding: 0px 10px 0px 500px;
}
.paragraph-page-content-3 {
  padding: 0px 10px 0px 500px;
}
.video-page-content-3 {
  float: right;
  margin: -290px 500px 0px 0px;
}

.title-page-content-4 {
  padding: 0px 10px 0px 500px;
}
.paragraph-page-content-4 {
  padding: 0px 10px 0px 500px;
}
.video-page-content-4 {
  float: right;
  margin: -350px 500px 0px 0px;
}
}

