/* Global button button */
.btn:hover, btn:focus {
    outline: none;
    text-decoration: none;
  }
  button:hover, button:focus {
    outline: none;
    border: none;
  }
  a, a:hover {
    color: blue;
    text-decoration: none;
  }
  
/* ******************************* header frame*/
  .masthead {
      height: 100vh;
      min-height: 500px;
      background-image: url('images/paris1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  /* nav frame with content */
  .nav-wrapper {
    width: 100%;
    position: fixed;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 15px;
  }
  .nav-home-logo-button {
    display: inline;
    padding: 20px 0px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: blue;
  }
  .nav-home-button {
    display: inline;
    padding: 20px 0px 0px 5px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: blue;
  }
  .download {
    border: none;
    border-radius: 5px 5px 5px 5px;
    float: right;
    padding: 0px; 
    margin: 17px 20px 0px 0px;
  }
  .download img {
    height: 30px;
    width: 90px;
  }
/* ******************************* */

/* ******************************* Only for header content */

/* *************** For business page */
  .paragraph-header {
    padding: 90px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: blue;
    text-align: center;
  }

  .paragraph-header-1 {
    display: none;
    padding: 0px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    /* font-weight: 100;
    font-size: 20px; */
    font-weight: 300;
    font-size: 18px;
    color: blue;
    text-align: center;
  }

  .sub-title-header {
    padding: 0px 20px 0px 20px;
    margin-top: -10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: blue;
    text-align: center;
  }

  .title-header {
    margin: -10px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: blue;
    text-align: center;
  }

  .carousel-frame {
    display: none;
    width: 100%;
    margin: auto;
  }

  .logo-map {
    margin: -10px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
  }
/* ******************************* */

/* ******************************* Element For light Page content */
  .content-container {
    width: 100%;
    margin-top: -20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
  }

  .paragraph {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: blue;
    text-align: center;
  }

  .paragraph-1 {
    display: none;
    padding: 20px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: blue;
    text-align: center;
  }

  .sub-title {
    padding: 0px 20px 0px 20px;
    /* margin-top: -10px; */
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: blue;
    text-align: center;
  }

  .title {
    margin: -5px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: blue;
    text-align: center;
  }
/* ******************************* */

/* ******************************* Element For dark Page content */
.content-container-dark {
    width: 100%;
    margin-top: -20px;
    padding-bottom: 20px;
    background-color: blue;
    border-radius: 20px 20px 0px 0px;
  }

  .paragraph-dark {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    text-align: center;
  }

  .paragraph-1-dark {
    display: none;
    padding: 20px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: white;
    text-align: center;
  }

  .sub-title-dark {
    padding: 0px 20px 0px 20px;
    /* margin-top: -10px; */
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .title-dark {
    margin: -5px 20px 0px 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    text-align: center;
  }
/* ******************************* */

/* ******************************* Video */
  .video-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /* width: 30%; */
    width: 100px;
    border-radius: 10px 10px 10px 10px;
  }

  .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* width: 30%; */
    width: 50px;
    border-radius: 10px 10px 10px 10px;
  }
/* ******************************* */

/* ******************************* footer */
.footer {
    border-radius: 20px 20px 0px 0px;
     padding: 10px 0px 0px 0px;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgba(0, 0, 50, 0.9);
     margin-top: -20px;
  }
  .nav-pages {
    text-align: center;
    width: 50%;
    height: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .btn-group {
    padding: 0px 0px 0px 0px;
    width: 100%;
    margin: auto;
  }
/* ******************************* */



/* ******************************* FOR SMARTPHONES PORTRAIT DISPLAY */
@media (min-width: 350px) and (min-height: 620px) {
    .video-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      /* width: 40%; */
      width: 160px;
      border-radius: 20px 20px 20px 20px;
    }
  }
  
  @media (min-width: 350px) and (min-height: 790px) {
    .video-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      /* width: 60%; */
      width: 230px;
      border-radius: 20px 20px 20px 20px;
    }
  }
  
  @media (min-width: 390px) and (min-height: 700px) {
    .video-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      /* width: 45%; */
      width: 200px;
      border-radius: 20px 20px 20px 20px;
    }
  }
  
  @media (min-width: 390px) and (min-height: 800px) {
    .video-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      /* width: 55%; */
      width: 250px;
      border-radius: 20px 20px 20px 20px;
    }
  }
  
  @media (min-width: 750px) and (min-height: 1000px) {
    .video-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      /* width: 47%; */
      width: 370px;
      border-radius: 20px 20px 20px 20px;
    }
  }
  
  @media (min-width: 1000px) and (min-height: 1200px) {
    .video-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      /* width: 50%; */
      width: 580px;
      border-radius: 20px 20px 20px 20px;
    }
  }
  /* ******************************* */

  /* ******************************* FOR SMARTPHONES LANDSCAPE DISPLAY */

@media screen and (min-width: 550px) and (orientation: landscape) {
  /* *************** For business page */
    .content-header {
        width: 50%;
        margin-left: 20px;
    }

    .paragraph-header {
        padding: 90px 20px 0px 20px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: blue;
        text-align: left;
    }
    .title-header {
        margin: -10px 20px 0px 20px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 35px;
        color: blue;
        text-align: left;
      }
    .video-header {
      float: right;
      display: block;
      margin: -270px 20px 0px 0px;
      width: 150px;
      border-radius: 20px 20px 20px 20px;
    }
}

@media screen and (min-width: 630px) and (orientation: landscape) {
    .video-header {
        float: right;
        display: block;
        margin: -240px 20px 0px 0px;
        width: 150px;
        border-radius: 20px 20px 20px 20px;
    }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
    .video-header {
        float: right;
        display: block;
        margin: -200px 20px 0px 0px;
        width: 150px;
        border-radius: 20px 20px 20px 20px;
    }
}
  
@media screen and (min-width: 1000px) and (orientation: landscape) {
    /* *************** For business page */
    /* Nav element*/
      .nav-home-logo-button {
        display: inline;
        padding: 20px 0px 0px 100px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 40px;
        color: blue;
      }
      .nav-home-button {
        display: inline;
        padding: 20px 0px 0px 5px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: blue;
      }
      .download {
        border: none;
        border-radius: 5px 5px 5px 5px;
        float: right;
        padding: 0px; 
        margin: 17px 100px 0px 0px;
      }
      .download img {
        height: 30px;
        width: 90px;
      }
    /*  */
  
    /* Header content element */
    .content-header {
      width: 50%;
      padding-top: 100px;
      margin-left: 100px;
    }
    .paragraph-header {
        padding: 90px 0px 0px 0px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: blue;
        text-align: left;
    }
    .paragraph-header-1 {
        display: block;
        padding: 0px 0px 0px 0px;
        font-family: 'Exo 2', sans-serif;
        /* font-weight: 100;
        font-size: 20px; */
        font-weight: 300;
        font-size: 18px;
        color: blue;
        text-align: left;
    }
    .sub-title-header {
        padding: 0px 0px 0px 0px;
        margin-top: -10px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: blue;
        text-align: left;
    }
    .title-header {
        margin: -10px 0px 0px -2px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 35px;
        color: blue;
        text-align: left;
    }
    .carousel-frame {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .logo-map {
        margin: -10px 0px 0px -20px;
        /* display: inline; */
        width: 80px;
        height: 80px;
    }
    .video-header {
      float: right;
      display: block;
      margin: -330px 100px 0px 0px;
      /* width: 30%; */
      width: 250px;
      border-radius: 20px 20px 20px 20px;
    }
    /* Paragraph element for page content */
    .paragraph-1 {
        display: block;
        padding: 20px 100px 0px 100px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: blue;
        text-align: center;
    }
    .paragraph-1-dark {
        display: block;
        padding: 20px 100px 0px 100px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: white;
        text-align: center;
      }
    /*  */
  }
  
  @media screen and (min-width: 1300px) and (orientation: landscape) {
    .video-header {
        float: right;
        display: block;
        margin: -330px 100px 0px 0px;
        /* width: 30%; */
        width: 400px;
        border-radius: 20px 20px 20px 20px;
    }
}



  /* For DESKTOP LANDSCAPE */

@media screen and (min-width: 1600px) and (orientation: landscape) {
/* *************** For business page */
    /* Nav element*/
    .nav-home-logo-button {
        display: inline;
        padding: 20px 0px 0px 300px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 40px;
        color: blue;
      }
      .download {
        border: none;
        border-radius: 5px 5px 5px 5px;
        float: right;
        padding: 0px; 
        margin: 17px 300px 0px 0px;
      }
    /*  */
  
    /* Header content element */
    .content-header {
      width: 32.5%;
      padding-top: 100px;
      margin-left: 300px;
    }
    .paragraph-header {
        padding: 90px 0px 0px 0px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: blue;
        text-align: left;
    }
    .paragraph-header-1 {
        display: block;
        padding: 0px 0px 0px 0px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: blue;
        text-align: left;
    }
    .sub-title-header {
        padding: 0px 0px 0px 0px;
        margin-top: -10px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: blue;
        text-align: left;
    }
    .title-header {
        margin: -10px 0px 0px -2px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-size: 35px;
        color: blue;
        text-align: left;
    }
    .carousel-frame {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .logo-map {
        margin: -10px 0px 0px -20px;
        width: 80px;
        height: 80px;
    }
    .video-header {
      float: right;
      display: block;
      margin: -330px 300px 0px 0px;
      width: 400px;
      border-radius: 20px 20px 20px 20px;
    }
    /*  */

    /* Paragraph element for page content */
    .paragraph-1 {
        display: block;
        padding: 20px 300px 0px 300px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: blue;
        text-align: center;
    }
    .paragraph-1-dark {
        display: block;
        padding: 20px 300px 0px 300px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    /*  */
}

@media screen and (min-width: 1800px) and (orientation: landscape) {
    /* *************** For business page */
    /* Nav element*/
    .nav-home-logo-button {
        display: inline;
        padding: 20px 0px 0px 400px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 40px;
        color: blue;
      }
      .download {
        border: none;
        border-radius: 5px 5px 5px 5px;
        float: right;
        padding: 0px; 
        margin: 17px 400px 0px 0px;
      }
    /*  */
  
    /* Header content element */
    .content-header {
      width: 32.5%;
      padding-top: 100px;
      margin-left: 400px;
    }
    .video-header {
      float: right;
      display: block;
      margin: -330px 400px 0px 0px;
      width: 400px;
      border-radius: 20px 20px 20px 20px;
    }
    /*  */

    /* Paragraph element for page content */
    .paragraph-1 {
        display: block;
        padding: 20px 400px 0px 400px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: blue;
        text-align: center;
    }
    .paragraph-1-dark {
        display: block;
        padding: 20px 400px 0px 400px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    /*  */
}

@media screen and (min-width: 2100px) and (orientation: landscape) {
/* *************** For business page */
    /* Nav element*/
    .nav-home-logo-button {
        display: inline;
        padding: 20px 0px 0px 500px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 40px;
        color: blue;
      }
      .download {
        border: none;
        border-radius: 5px 5px 5px 5px;
        float: right;
        padding: 0px; 
        margin: 17px 500px 0px 0px;
      }
    /*  */
  
    /* Header content element */
    .content-header {
      width: 22%;
      padding-top: 100px;
      margin-left: 500px;
    }
    .video-header {
      float: right;
      display: block;
      margin: -330px 500px 0px 0px;
      width: 400px;
      border-radius: 20px 20px 20px 20px;
    }
    /*  */

    /* Paragraph element for page content */
    .paragraph-1 {
        display: block;
        padding: 20px 500px 0px 500px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: blue;
        text-align: center;
    }
    .paragraph-1-dark {
        display: block;
        padding: 20px 500px 0px 500px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    /*  */
}

@media screen and (min-width: 2400px) and (orientation: landscape) {
/* *************** For business page */
    /* Nav element*/
    .nav-home-logo-button {
        display: inline;
        padding: 20px 0px 0px 600px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 40px;
        color: blue;
      }
      .download {
        border: none;
        border-radius: 5px 5px 5px 5px;
        float: right;
        padding: 0px; 
        margin: 17px 600px 0px 0px;
      }
    /*  */
  
    /* Header content element */
    .content-header {
      width: 21.3%;
      padding-top: 100px;
      margin-left: 600px;
    }
    .video-header {
      float: right;
      display: block;
      margin: -330px 600px 0px 0px;
      width: 400px;
      border-radius: 20px 20px 20px 20px;
    }
    /*  */

    /* Paragraph element for page content */
    .paragraph-1 {
        display: block;
        padding: 20px 600px 0px 500px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: blue;
        text-align: center;
    }
    .paragraph-1-dark {
        display: block;
        padding: 20px 600px 0px 500px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    /*  */
}
